
.text-pink 		{ color:#ff5477 }
.text-green1 	{ color:#96ceb4	}
.text-yellow1 	{ color:#ffeead }
.text-orange 	{ color:#ff6f69 }
.text-yellow2	{ color:#ffcc5c }
.text-green2 	{ color:#88d8b0 }

.bg-white-5 { background: rgba(255,255,255,.9)!important }
.bg-green1 	{ background: rgba(150,206,180, 1)!important }
.bg-yellow1 { background: rgba(255,238,173, 1)!important }
.bg-orange 	{ background: rgba(255,111,105, 1)!important }
.bg-yellow2 { background: rgba(255,204,92 , 1)!important }
.bg-green2 	{ background: rgba(136,216,176, 1)!important }

.bg1 { background-image: url("../images/bg1.jpg"); background-repeat: no-repeat; background-size: 1520px; background-attachment: fixed; }

.hide{ display: none; }
.show{ display: block; }
span { position: inherit; float: left; padding:0 10px}

/* slideout.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
  box-shadow: -2px 0px 5px;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#icon_close, #icon_menu { 
  position:fixed; right:10px; margin:10px; font-size:20px; cursor: pointer;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background: white;
  color: #000;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background: white 
}
.categories .section-description { 
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }

  .values { 
    background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,0.7)),url('../images/bg1.jpg');background-size: cover; background-attachment: fixed; 
  }
  .categories { 
    background: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,0.7)),url('../images/bg2.jpg'); background-size: cover; 
  }

}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}